[submodule "packages/bnode-core"]
	path = packages/bnode-core
	url = ../bnode-core.git
[submodule "libraries/ClaRa-official"]
	path = libraries/ClaRa-official
	url = https://github.com/xrg-simulation/ClaRa-official.git
