# Ignore Dymola output files

# Dymola results and log files
*.mat
*.txt
*.csv
*.res
*.log

# Dymola temporary and backup files
*.backup
*.init
*.init.mop
*.init.xml
*.tmp

# Dymola HTML and documentation files
*.html
*.htm
*.mop.html
*.mop.htm
*.xml
*.mof
*.bak-mo

# Dymola simulation results
*.dsres

# Ignore Dymola build artifacts
*/bin/
*/build/
*/~FMUOutput/
*.exe
*.dll

# Ignore Dymola model-specific files
*.c
*.h
*.o

# Ignore Dymola libraries (if applicable)
*.a
*.lib

# just for now: ignore fmus
*.fmu

*.pyc